<div class="grid lg:grid-cols-4">
    <div class="mb-10 py-10 px-6 col-span-2 lg:col-span-3">
        {% if content.frontMatterHas('cover_image') %}
            <a href="{{ site_root() }}{{ content.getLink() }}" title="Read the full article: {{ content.frontMatterGet('title') }}">
                <img class="w-full rounded-md" src="{{ content.frontMatterGet('cover_image')|raw }}" alt="cover image">
            </a>
        {% endif %}

        <h1 class="text-3xl lg:text-4xl mt-6 mb-4 text-gray-900 hover:text-purple-800 font-bold">
            <a href="{{ site_root() }}{{ content.getLink() }}" title="Read the full article: {{ content.frontMatterGet('title') }}">{{ content.frontMatterGet('title') ?? content.title }}</a>
        </h1>
        <p class="text-lg lg:text-xl text-gray-500 mb-4">
            {{ content.frontMatterGet('description') ?? 'No description provided.' }}
        </p>
        <p class="text-sm text-gray-400 mb-6">
            {% if content.frontMatterHas('twitter_author') %}
                By <a class="font-bold text-gray-800 underline" href="https://twitter.com/{{ content.frontMatterGet('twitter_author') }}">@{{ content.frontMatterGet('twitter_author') }}</a>
            {% endif %}
            on {{ content.getDate() }}</p>

        <article class="prose lg:prose-l max-w-none mb-6">
            {% if full %}
                {{ content.body_html|raw }}
            {% else %}
                {{ content.frontMatterGet('description') ?? 'No description provided.' }}
                <p class="mt-6"><a href="{{ site_root() }}{{ content.getLink() }}">Read More...</a></p>
            {% endif %}
        </article>
    </div>

    <div class="border-l-2 border-l-gray-50 article-toc {% if not full %}hidden{% endif %} print:hidden">
        <div id="article-toc"></div>


        <div class="ml-4 mt-4">
            <button class="px-6 py-4 m-2 bg-fuchsia-600 text-white rounded-2xl object-center" onclick="window.print();return false;">Print</button>
            <button class="px-6 py-4 m-2 bg-fuchsia-600 text-white rounded-2xl object-center" onclick="navigator.clipboard.writeText(window.location.href);document.getElementById('copyMessage').innerText='URL copied to clipboard.'">Share</button>
            <p class="text-sm text-gray-600" id="copyMessage"></p>
        </div>
    </div>
</div>
