<div class="column blog-sidebar print:hidden" id="blog-sidebar">
    <div class="px-4 py-6 mb-2 mt-2">
        <div class="text-center mx-auto">
            <a href="{{ site_root() }}"><img class="mx-auto rounded-full" src="{{ site_root() }}img/logo.png"></a>
            <h3 class="text-2xl my-2"><a href="{{ site_root() }}">{{ site_title() }}</a></h3>
        </div>

        <p class="text-justify px-4 py-2">{{ site_about() }}  <a href="/about/erika/" title="more about me" class="underline italic text-purple-900">about</a>  </p>
    </div>
            <div class="hidden md:block">
                <ul class="shadow-md rounded-md">
                    {% for type in content_types() %}
                        <li><a class="py-2 px-2 bg-fuchsia-600 text-gray-100 font-bold block" href="/{{ type.slug }}">{{ type.title|replace({'-': ' '}) }}</a></li>
                        <li>
                            <ul class="divide-y divide-gray-200">
                                {% for article in table_of_contents(type) %}
                                    <li><a class="py-2 px-2 pl-6 block" href="{{ site_root() }}{{ article.getLink() }}">{{ article.frontMatterGet('title') }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>

    <div class="px-4 py-6 mb-6 mt-10">
            <ul class="menu-list">
                <li><a href="{{ site_root() }}{{ config('rss_feed') }}" title="RSS Feed">
                    <span class="icon is-medium"><i class="fas fas-lg fa-rss"></i></span> RSS Feed
                </a></li>
                {% for title,link in social_links() %}
                    {%  if link %}<li><a href="{{ link }}" title="{{ title }}"><span class="icon"><i class="fab fa-{{ title|lower }}"></i></span> {{ title }}</a></li>{% endif %}
                {% endfor %}
            </ul >
    </div>

</div><!-- /.blog-sidebar -->
